//global styles and variables

//google fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;800;900&display=swap");

$family-sans-serif: "Nunito", sans-serif;

//update bulma variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// global styles
html,
body {
  height: 100%;
}

html {
  background-image: url(./assets/background.png);
  background-size: cover;

  overflow-y: auto !important;
}
